@charset "UTF-8";

*{
    /*height: 100%;*/
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-image: linear-gradient(to right,#8AA6A3, #10403B);
}

main{
    background-color: white;
    width: 600px;
    padding: 10px;
    margin: auto;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #071b193f;
}

h1{
    color: #4C5958;
    text-align: center;
    text-shadow: 1px 1px 2px #1d22217c;
}

h2{
    color: #7e9795;
}

p{
    text-align: justify;
}
